MOVIE RECOMMENDATION SYSTEM

Importing libraries

In [3]:
import numpy as np
import pandas as pd

Loading data

In [4]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Merging both tables on same column title

In [7]:
movies = movies.merge(credits,on="title")

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

DATA PREPROCESSING

Removing unwanted columns only those columns which creats tags

In [9]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [10]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

Removing Null Values

In [12]:
movies.dropna(inplace=True)

In [13]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

Fumction to take tags of movies from genres like Action,Adeventenure and Fantasy from dictionary

In [15]:
import ast
def convert(dict):
    temp = []
    for i in ast.literal_eval(dict):    # converting string to list
        temp.append(i['name'])
    return temp

In [16]:
movies['genres'] = movies['genres'].apply(convert)

In [17]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Taking tags of movies from Keywords

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)

In [19]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Function to take name of top two cast from the cast column

In [20]:
def convert_3(dict):
    temp = []
    counter = 0 
    for i in ast.literal_eval(dict):    # converting string to list
        if counter != 3 :
            temp.append(i['name'])
            counter += 1
        else:
            break
    
    return temp

In [22]:
movies['cast'] = movies['cast'].apply(convert_3)

In [23]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Function to fetch director name from crew column

In [24]:
def fetch_director_name(dict):
    temp = []
    for i in ast.literal_eval(dict):    # converting string to list
        if(i['job']=='Director'):
            temp.append(i['name'])
            break
    return temp

In [25]:
movies['crew'] = movies['crew'].apply(fetch_director_name)

In [26]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

Splitting overview in list

In [27]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [28]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

Removing gaps

In [29]:
movies['genres'] = movies["genres"].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies["keywords"].apply(lambda x : [i.replace(" ","") for i in x])
movies['cast'] = movies["cast"].apply(lambda x : [i.replace(" ","") for i in x])
movies['crew'] = movies["crew"].apply(lambda x:[i.replace(" ","") for i in x])

Concatenating genres , keywords , cast and crew to tags

In [30]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [31]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, c..."

In [32]:
new_movies = movies[['movie_id','title','tags']]

In [33]:
new_movies.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [Action, Adventure, Fantasy, ScienceFiction, c...

Convert list tags to string

In [34]:
new_movies['tags'] = new_movies['tags'].apply(lambda x:' '.join(x))

C:\Users\dell\AppData\Local\Temp\ipykernel_8468\1921219589.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x:' '.join(x))

In [35]:
new_movies.head(1)

   movie_id   title                                               tags
0     19995  Avatar  Action Adventure Fantasy ScienceFiction cultur...

Convering String to Lower case

In [36]:
new_movies['tags'] = new_movies['tags'].apply(lambda x:x.lower() )

C:\Users\dell\AppData\Local\Temp\ipykernel_8468\2007272458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x:x.lower() )

In [37]:
new_movies.head(1)

   movie_id   title                                               tags
0     19995  Avatar  action adventure fantasy sciencefiction cultur...

BUILDING MODEL FOR MOVIE RECOMMENDATION SYSTEM

In [38]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: click in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from nltk) (8.1.8)
Collecting joblib (from nltk)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp313-cp313-win_amd64.whl.metadata (41 kB)
Collecting tqdm (from nltk)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 1.5/1.5 MB 9.2 MB/s eta 0:00:00
Downloading regex-2024.11.6-cp313-cp313-win_amd64.whl (273 kB)
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, regex, joblib, nltk
Successfully installed joblib-1.4.2 nltk-3.9.1 regex-2024.11.6 tqdm-4.67.1

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Function for Stemming words in tag column

In [39]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [40]:
def stemming(text):
    temp = []

    for i in text.split():
        temp.append(ps.stem(i))

    return " ".join(temp)

In [41]:
new_movies['tags'] = new_movies['tags'].apply(stemming)

C:\Users\dell\AppData\Local\Temp\ipykernel_8468\273131138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(stemming)

Creating Vector for Text in Tags

In [47]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ------ --------------------------------- 1.8/11.1 MB 13.4 MB/s eta 0:00:01
   -------- ------------------------------- 2.4/11.1 MB 11.2 MB/s eta 0:00:01
   -------------- ------------------------- 3.9/11.1 MB 6.4 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.1 MB 6.9 MB/s eta 0:00:01
   --------------------- ------------------ 6.0/11.1 MB 6.0 MB/s eta 0:00:01
   --------------------------- ------------ 7.6/11.1 MB 6.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.4/11.1 MB 6.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.1 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 1.9 MB/s eta 0:00:00
Downloading scipy-1.15.1-cp313-cp313-win_amd64.whl (43.6 MB)
   ---------------------------------------- 0.0/43.6 MB ? eta -:--:--
    --------------------------------------- 1.0/43.6 MB 5.7 MB/s eta 0:00:08
   -- ------------------------------------- 2.9/43.6 MB 7.0 MB/s eta 0:00:06
   ---- ----------------------------------- 4.7/43.6 MB 7.9 MB/s eta 0:00:05
   ----- ---------------------------------- 6.0/43.6 MB 7.0 MB/s eta 0:00:06
   ------ --------------------------------- 7.1/43.6 MB 6.8 MB/s eta 0:00:06
   ------- -------------------------------- 8.7/43.6 MB 6.4 MB/s eta 0:00:06
   --------- ------------------------------ 10.7/43.6 MB 6.7 MB/s eta 0:00:05
   ---------- ----------------------------- 11.3/43.6 MB 6.4 MB/s eta 0:00:06
   ----------- ---------------------------- 12.3/43.6 MB 6.2 MB/s eta 0:00:06
   ------------- -------------------------- 14.9/43.6 MB 6.4 MB/s eta 0:00:05
   --------------- ------------------------ 16.5/43.6 MB 6.5 MB/s eta 0:00:05
   --------------- ------------------------ 17.0/43.6 MB 6.0 MB/s eta 0:00:05
   ---------------- ----------------------- 18.1/43.6 MB 6.0 MB/s eta 0:00:05
   ------------------ --------------------- 19.7/43.6 MB 6.1 MB/s eta 0:00:04
   ------------------- -------------------- 21.2/43.6 MB 6.1 MB/s eta 0:00:04
   -------------------- ------------------- 22.5/43.6 MB 6.1 MB/s eta 0:00:04
   ---------------------- ----------------- 24.1/43.6 MB 6.2 MB/s eta 0:00:04
   ----------------------- ---------------- 25.4/43.6 MB 6.2 MB/s eta 0:00:03
   ------------------------ --------------- 26.5/43.6 MB 6.1 MB/s eta 0:00:03
   ------------------------- -------------- 27.8/43.6 MB 6.2 MB/s eta 0:00:03
   -------------------------- ------------- 29.1/43.6 MB 6.1 MB/s eta 0:00:03
   --------------------------- ------------ 29.9/43.6 MB 6.1 MB/s eta 0:00:03
   ----------------------------- ---------- 31.7/43.6 MB 6.2 MB/s eta 0:00:02
   ------------------------------ --------- 33.3/43.6 MB 6.2 MB/s eta 0:00:02
   ------------------------------- -------- 34.3/43.6 MB 6.2 MB/s eta 0:00:02
   -------------------------------- ------- 35.7/43.6 MB 6.2 MB/s eta 0:00:02
   --------------------------------- ------ 37.0/43.6 MB 6.2 MB/s eta 0:00:02
   ---------------------------------- ----- 38.0/43.6 MB 6.1 MB/s eta 0:00:01
   ----------------------------------- ---- 39.1/43.6 MB 6.1 MB/s eta 0:00:01
   ------------------------------------- -- 40.4/43.6 MB 6.1 MB/s eta 0:00:01
   -------------------------------------- - 42.2/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  43.5/43.6 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 43.6/43.6 MB 3.5 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.6.1 scipy-1.15.1 threadpoolctl-3.5.0

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=7000,stop_words="english")

In [49]:
vector = cv.fit_transform(new_movies['tags']).toarray()

In [50]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 7000))

Building model

In [51]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

BUILDING MAIN RECOMMEND FUNCTION

In [52]:
def recommend(movie):
    movie_index = new_movies[new_movies['title']==movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]

    for i in movie_list:
        print(new_movies.iloc[i[0]].title)

In [53]:
recommend("Batman Begins")

The Dark Knight
The Dark Knight Rises
Amidst the Devil's Wings
Ajami
El Rey de Najayo
Batman & Robin
The Rise of the Krays
Defendor
Harsh Times
Shinjuku Incident

In [54]:
import pickle

In [55]:
pickle.dump(new_movies.to_dict(),open('movie_dict.pkl','wb'))

In [56]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [57]:
recommend('Avatar')

Star Trek Into Darkness
Jupiter Ascending
The Lovers
Aliens
Megaforce
Steel
Stargate: The Ark of Truth
Six-String Samurai
Sheena
Guardians of the Galaxy